---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search";
---

<Layout title="Abstract | Help Center">
	<div class="bg-black text-gray-400 p-4 rounded-t-lg">
		<Header />
	</div>
	<main>
		<Search client:load />
	</main>
	<footer class="text-gray-600">
		<Footer />
	</footer>
</Layout>
