---
import Logo from "./Logo.astro";
---

<header class="flex items-center justify-between px-8">
    <div class="flex flex-row items-center">
        <div class="size-6">
            <Logo /> 
        </div>
        <div class="flex flex-row mx-2">
            <p class="mx-1">Abstract </p>
            <p> | Help Center</p>
        </div>
    </div>
    <div>
        <button
            class="text-white font-semibold px-4 py-1 bg-gray-700 rounded mr-2 hover:border-white border-2 border-transparent"
            >Submit a request</button
        >
        <button
            class="text-white font-semibold px-4 py-1 bg-[#4C5FD5] rounded hover:border-blue-500 border-2 border-transparent"
            >Sign in</button
        >
    </div>
</header>
