---
import Logo from "./Logo.astro";
---

<div class="flex bg-black text-white justify-between p-12 rounded-b-lg">
    <div class="flex flex-col text-start">
        <p class="font-bold">Abstract</p>
        <a href="#">Branches</a>
    </div>
    <div class="flex flex-col text-start">
        <p class="font-bold">Resources</p>
        <a href="#">Blog</a>
        <a href="#">Help Center</a>
        <a href="#">Release Notes</a>
        <a href="#">Status</a>
    </div>
    <div class="flex flex-col text-start">
        <p class="font-bold">Community</p>
        <a href="#">Twitter</a>
        <a href="#">Linkedin</a>
        <a href="#">Facebook</a>
        <a href="#">Dribbble</a>
        <a href="#">Podcast</a>
    </div>
    <div class="flex flex-col text-start">
        <p class="font-bold">Company</p>
        <a href="#">About Us</a>
        <a href="#">Careers</a>
        <a href="#" class="mb-6">Legal</a>
        <p class="font-bold">Contact Us</p>
        <a href="#">info@abstract.com</a>
    </div>
    <div class="mt-36">
        <div class="size-6">
        <Logo />
        </div>
        <p>&copy; Copyright 2022</p>
        <p>Abstract Studio Design, Inc.</p>
        <p>All rights reserved.</p>
    </div>
</div>
